.quantum {
    background-color: lightgreen;
    border: 1px solid yellowgreen;
    box-shadow: 6px 3px 3px brown;
    margin: 6px;
}

.quantum h4 {
    padding: 1px;
    margin: 1px;
}

.resizable {
    position: absolute;
    overflow: scroll;
    resize: both;
    top: 40px;
    left: 40%;
    max-width: 300px;
    max-height: 460px;
    border: 1px dotted black;
    min-width: 200px;
    min-height: 100px;
    background-color: lightyellow;
}
