<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}protoweb{% endblock %}</title>
    {% block styling %}
    <link rel="stylesheet" href="/static/tufte.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block scripting %}
    <script>
      function loaded() {}
    </script>
    {% endblock %}
    <link rel="icon" type="image/ico" href="/static/favicon.ico">
    {% endblock %}
  </head>
  <body onload="loaded()">
    {% block content %}
    {% endblock %}
  </body>
</html>
