{% extends "base.html" %}
{% block title %}protoweb home{% endblock %}
{% block content %}
<article>
<h1>protoweb</h1>
<p class="subtitle">
  Simple prototype web server ({{ server_mode }}) with a grab bag of pages.
</p>
<ul>
  <li>
    <a href="/quanta">Quanta mockup</a>: very crude look &amp; feel
    [Also: <a href="/quanta_align">script aligned</a>,
    <a href="/quanta_mock">static mockup</a>]
  </li>
  <li><a href="/sandbox">Sandbox</a>: Trying out CSS</li>
  <li><a href="/test">Test page</a>: low level debugging tools</li>
</ul>
<section>
  <h2>Using Tufte CSS</h2>
  <blockquote>
    <p>
      The web is not print. Webpages are not books.
      Therefore, the goal of Tufte CSS is not to say
      “websites should look like this interpretation of Tufte’s books”
      but rather “here are some techniques Tufte developed that we’ve found
      useful in print; maybe you can find a way to make them useful
      on the web”. 
    </p>
    <footer>Richard P. Feynman,
      <cite>“What Do You Care What Other People Think?”</cite>
    </footer>
  </blockquote>
  <p>
    This is a collection of explanatory excerpts from
    <a href="https://edwardtufte.github.io/tufte-css/">Tufte CSS</a>.
  </p>
  <h3>Highlighting, side and margin notes, links, sans serif</h3>
  <p>
    <span class="newthought">In his later books
      <label for="sn-in-his-later-books" class="margin-toggle sidenote-number">
      </label>
    </span>
    <input type="checkbox" id="sn-in-his-later-books" class="margin-toggle"/>
    <span class="sidenote">
      <a href="http://www.edwardtufte.com/tufte/books_be">
	<em>Beautiful Evidence</em></a> (side note)</span>,
    Tufte starts each section with a bit of vertical space,
    a non-indented paragraph, and the first few words of the sentence
    set in small caps. For this we use a span with the class
    <code>newthought</code>, as demonstrated at the beginning of this paragraph.
  </p>
  <p>
    Links look like this: <a href="#">dummy example</a> that goes nowhere.
    <label for="mn-blue-links" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-blue-links" class="margin-toggle"/>
    <span class="marginnote">
      Blue text, while also a widely recognizable clickable-text indicator,
      is crass and distracting. Luckily, it is also rendered unnecessary by
      the use of underlining. (margin note)
    </span>
  </p>
  <p class="sans">
    If you prefer sans-serifs, use the <code>sans</code> class.
    It relies on Gill Sans, Tufte’s sans-serif font of choice.
  </p>
  <h3>You only need headings and subheadings</h3>
  <p>
    Use <code>h1</code> for the title,
    <code>h2</code> for major headings,
    and <code>h3</code> for subheadings.
  </p>
  <blockquote
    cite="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000hB">
    <p>
      [It is] notable that the Feynman lectures (3 volumes) write about all
      of physics in 1800 pages, using only 2 levels of hierarchical headings:
      chapters and A-level heads in the text. It does not use bullet points.
    </p>
    <footer>
      <a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0000hB">
	Edward Tufte, forum post, ‘Book design: advice and examples’ thread</a>
    </footer>
  </blockquote>
  <h3>Epigraphs and code</h3>
  <p>Here's an example of a quotation citing the author and book referenced.</p>
  <blockquote>
    <p>For a successful technology, reality must take precedence over public relations,
      for Nature cannot be fooled.
    </p>
    <footer>Richard P. Feynman,
      <cite>“What Do You Care What Other People Think?”</cite>
    </footer>
  </blockquote>
  <p>
    Use <code>&lt;code&gt;</code> to wrap inline code,
    or inside <code>&lt;pre&gt;</code> for multiline.
  </p>
  <pre>
    <code>
  &lt;head&gt;
    &lt;meta charset="utf-8"/&gt;
    &lt;title&gt;Tufte CSS&lt;/title&gt;
    &lt;link rel="stylesheet" href="tufte.css"/&gt;
    &lt;link rel="stylesheet" href="latex.css"/&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
  &lt;/head&gt;
    </code>
  </pre>
  <h3>Figures</h3>
  <p>
    This is the logo for the website, courtesy of
    <a href="https://stablediffusionweb.com/#demo">Stable Diffusion</a>.
  </p>
  <figure>
    <img src="static/protowebman.png" alt="Our mascot logo"
	 width="128" height="128"/>
  </figure>
  <p>
    To place figures in the margin, wrap an image
    in a margin note inside a <code>p</code> tag.
    If you need a full-width figure, give it the <code>fullwidth</code> class.
    Embedded iframe elements are particularly troublesome.
    Use the helper class <code>iframe-wrapper</code> on <code>figure</code>
    or <code>div</code> wrapping a iframe, e.g. embedded YouTube videos.
  </p>
</section>
</article>
{% endblock %}
