{% extends "base.html" %}
{% block title %}Quanta Prototype API Test{% endblock %}
{% block scripting %}
<script src="static/qlib.js"> </script>
<script>
  debug_str = "";

  function output(str) {
      var textbox = document.getElementById("internals");
      if (debug_str)
	  debug_str += ' | ';
      debug_str += str;
      textbox.innerText = debug_str;
  }
  
  function loaded() {
      output("loaded");
      url = window.location.href;
      output("URL: " + url);
      parent = document.getElementById('lorem-ipsum');
      if (parent) {
	  output("lorem ipsum");
	  qlib.add_ids(parent);
	  points = qlib.collect_ids(parent);
	  output(JSON.stringify(points));
	  var insert = document.getElementById("sel");
	  var node = qlib.point_selector(points);
	  insert.appendChild(node);
	  output(String(node));
      }
      output("loaded.");
  }


</script>
{% endblock %}
{% block content %}
<h1>Debugging</h1>
<textarea id="internals" rows="8" cols="80"></textarea>
<p id="sel">Selector:</p>
<hr/>
<h1>Sample Text</h1>
<div id="lorem-ipsum">
  <h2>Section 1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet, enim id faucibus scelerisque, lacus eros scelerisque quam, et ultricies quam mauris ac lectus. Maecenas scelerisque tellus nec lectus tristique, nec semper quam luctus.</p>
  <p>Quisque semper quam ac eros semper, sed scelerisque mauris scelerisque. Suspendisse potenti. Sed scelerisque lectus sed lectus pretium, id scelerisque quam semper.</p>
  <p>Ut scelerisque, mauris id ultricies scelerisque, eros eros scelerisque erat, non semper lacus quam et orci. Maecenas luctus, quam ac semper scelerisque, mauris mauris convallis mauris, ac ultricies quam quam eget lectus.</p>
  <h2>Section 2</h2>
  <p>Nullam vel eros euismod, tincidunt mauris eget, accumsan lacus. Sed scelerisque augue eget nisl volutpat, id ultricies enim scelerisque.</p>
  <p>Quisque luctus, tortor vel scelerisque scelerisque, lectus velit semper neque, non semper mauris lectus sit amet lectus.</p>
  <p>Etiam luctus, eros eget scelerisque tincidunt, quam felis tincidunt eros, eu ultricies quam quam eu mauris.</p>
  <p>Donec ac lectus semper, scelerisque lectus sed, semper quam. Quisque semper, lectus ut scelerisque semper, enim eros semper eros, nec scelerisque mauris tellus id quam.</p>
  <p>Curabitur scelerisque, tortor ac semper scelerisque, est mauris scelerisque lorem, eu scelerisque mauris quam nec nulla.</p>
  <p>Ut scelerisque, mauris id ultricies scelerisque, eros eros scelerisque erat, non semper lacus quam et orci. Maecenas luctus, quam ac semper scelerisque, mauris mauris convallis mauris, ac ultricies quam quam eget lectus.</p>
</div>

{% endblock %}
