{% extends "base.html" %}
{% block title %}protoweb sandbox draggable DIV{% endblock %}
{% block styling %}
<style>
  button {
      background-color: #ccc;
      border: 1px solid #bbb;
      padding: 10px;
      cursor: pointer;
  }

  .form-popup {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
  }

  .form-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      background-color: #fff;
      padding: 20px;
  }

  input {
      padding: 10px;
      border: 1px solid #ccc;
  }

  button {
      background-color: orange;
      color: black;
      border: none;
      padding: 3px;
  }
</style>
{% endblock %}
{% block scripting %}
<script>
  function loaded() {
      var myButton = document.getElementById("myButton");
      myButton.addEventListener("click", function() {
	  var formPopup = document.createElement("div");
	  formPopup.classList.add("form-popup");
	  var formContainer = document.createElement("div");
	  formContainer.classList.add("form-container");
	  var input = document.createElement("input");
	  input.type = "text";
	  input.placeholder = "Enter your name";
	  var button = document.createElement("button");
	  button.textContent = "Submit";
	  formContainer.appendChild(input);
	  formContainer.appendChild(button);
	  formPopup.appendChild(formContainer);
	  document.body.appendChild(formPopup);
	  button.addEventListener("click", function() {
	      formPopup.remove();
	  });
      });
  }
</script>
{% endblock %}
{% block content %}
  <div class="textbox draggable">
    <p>Screen coordinates: (x, y)</p>
    <p>ID:</p>
    <p>Text:</p>
  </div>
<div id="lorem-ipsum">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet, enim id faucibus scelerisque, lacus eros scelerisque quam, et ultricies quam mauris ac lectus. Maecenas scelerisque tellus nec lectus tristique, nec semper quam luctus.</p>
  <p>Quisque semper quam ac eros semper, sed scelerisque mauris scelerisque. Suspendisse potenti. Sed scelerisque lectus sed lectus pretium, id scelerisque quam semper.</p>
  <button id="myButton">Q!</button>
  <p>Ut scelerisque, mauris id ultricies scelerisque, eros eros scelerisque erat, non semper lacus quam et orci. Maecenas luctus, quam ac semper scelerisque, mauris mauris convallis mauris, ac ultricies quam quam eget lectus.</p>
  <p>Nullam vel eros euismod, tincidunt mauris eget, accumsan lacus. Sed scelerisque augue eget nisl volutpat, id ultricies enim scelerisque.</p>
  <p>Quisque luctus, tortor vel scelerisque scelerisque, lectus velit semper neque, non semper mauris lectus sit amet lectus.</p>
  <p>Etiam luctus, eros eget scelerisque tincidunt, quam felis tincidunt eros, eu ultricies quam quam eu mauris.</p>
  <p>Donec ac lectus semper, scelerisque lectus sed, semper quam. Quisque semper, lectus ut scelerisque semper, enim eros semper eros, nec scelerisque mauris tellus id quam.</p>
  <p>Curabitur scelerisque, tortor ac semper scelerisque, est mauris scelerisque lorem, eu scelerisque mauris quam nec nulla.</p>
  <p>Ut scelerisque, mauris id ultricies scelerisque, eros eros scelerisque erat, non semper lacus quam et orci. Maecenas luctus, quam ac semper scelerisque, mauris mauris convallis mauris, ac ultricies quam quam eget lectus.</p>
</div>
{% endblock %}
