{% extends "base.html" %}
{% block title %}protoweb sandbox{% endblock %}
{% block content %}
<article>
<h1>sandbox</h1>
<p>The sandbox is for experimentation.</p>

<section>
  <h1>Federalist Papers No. 10 (1787)</h1>
  <p class="subtitle">
    by James Madison
  </p>
  <p id="p-01">
    <span class="newthought">To the People of the State of New York:</span>
<b>AMONG</b> the numerous advantages
promised by a wellconstructed Union, none deserves to be more accurately
developed than its tendency to break and control the violence of
faction. The friend of popular governments never finds himself so much
alarmed for their character and fate, as when he contemplates their
propensity to this dangerous vice. He will not fail, therefore, to
set a due value on any plan which, without violating the principles to
which he is attached, provides a proper cure for it. The instability,
injustice, and confusion introduced into the public councils, have,
in truth, been the mortal diseases under which popular governments have
everywhere perished; as they continue to be the favorite and fruitful
topics from which the adversaries to liberty derive their most specious
declamations. The valuable improvements made by the American constitutions
on the popular models, both ancient and modern, cannot certainly be too
much admired; but it would be an unwarrantable partiality, to contend that
they have as effectually obviated the danger on this side, as was wished
and expected. Complaints are everywhere heard from our most considerate
and virtuous citizens, equally the friends of public and private faith,
and of public and personal liberty, that our governments are too unstable,
that the public good is disregarded in the conflicts of rival parties,
and that measures are too often decided, not according to the rules of
justice and the rights of the minor party, but by the superior force
of an interested and overbearing majority. However anxiously we may
wish that these complaints had no foundation, the evidence, of known
facts will not permit us to deny that they are in some degree true. It
will be found, indeed, on a candid review of our situation, that some of
the distresses under which we labor have been erroneously charged on the
operation of our governments; but it will be found, at the same time, that
other causes will not alone account for many of our heaviest misfortunes;
and, particularly, for that prevailing and increasing distrust of public
engagements, and alarm for private rights, which are echoed from one
end of the continent to the other. These must be chiefly, if not wholly,
effects of the unsteadiness and injustice with which a factious spirit
has tainted our public administrations.
  </p>
  <p id="p-02">
By a faction, I understand a number of citizens, whether amounting to a
majority or a minority of the whole, who are united and actuated by some
common impulse of passion, or of interest,
    <label for="sn-cato-3" class="margin-toggle sidenote-number"></label>
    <input type="checkbox" id="sn-cato-3" class="margin-toggle"/>
      <span class="sidenote">
      Whoever seriously considers the immense extent of territory comprehended
      within the limits of the United States, with the variety of its climates,
      productions, and commerce, the difference of extent, and number of
      inhabitants in all; the dissimilitude of interest, morals, and policies,
      in almost every one, will receive it as an intuitive truth, that
      a consolidated republican form of government therein, can never
      form a perfect union, establish justice, insure domestic tranquility,
      promote the general welfare, and secure the blessings of liberty
      to you and your posterity, for to these objects it must be directed:
      this unkindred legislature therefore, composed of interests opposite
      and dissimilar in their nature, will in its exercise, emphatically be,
      like a house divided against itself.
      &mdash;<cite>Cato (George Clinton)</cite>
      </span>
adversed to the rights of other
citizens, or to the permanent and aggregate interests of the community.
  </p>
  <p id="p-03">
There are two methods of curing the mischiefs of faction: the one,
by removing its causes; the other, by controlling its effects.
  </p>
  <p>

There are again two methods of removing the causes of faction: the one,
by destroying the liberty which is essential to its existence; the other,
by giving to every citizen the same opinions, the same passions, and
the same interests.
  </p>
  <p>
    It could never be more truly said than of the first remedy, that it
    was worse than the disease. Liberty is to faction what air is to fire,
    an aliment without which it instantly expires. But it could not be
    less folly to abolish liberty, which is essential to political life,
    because it nourishes faction, than it would be to wish the annihilation
    of air, which is essential to animal life, because it imparts to fire
    its destructive agency.
  </p>  
  <p>
The second expedient is as impracticable as the first would be unwise. As
long as the reason of man continues fallible, and he is at liberty to
exercise it, different opinions will be formed. As long as the connection
subsists between his reason and his self-love, his opinions and his
passions will have a reciprocal influence on each other; and the former
will be objects to which the latter will attach themselves. The diversity
in the faculties of men, from which the rights of property originate,
is not less an insuperable obstacle to a uniformity of interests. The
protection of these faculties is the first object of government. From
the protection of different and unequal faculties of acquiring property,
the possession of different degrees and kinds of property immediately
results; and from the influence of these on the sentiments and views
of the respective proprietors, ensues a division of the society into
different interests and parties.
  </p>
  <p>
The latent causes of faction are thus sown in the nature of man; and
we see them everywhere brought into different degrees of activity,
according to the different circumstances of civil society. A zeal for
different opinions concerning religion, concerning government, and many
other points, as well of speculation as of practice; an attachment to
different leaders ambitiously contending for pre-eminence and power; or
to persons of other descriptions whose fortunes have been interesting to
the human passions, have, in turn, divided mankind into parties, inflamed
them with mutual animosity, and rendered them much more disposed to
vex and oppress each other than to co-operate for their common good. So
strong is this propensity of mankind to fall into mutual animosities,
that where no substantial occasion presents itself, the most frivolous
and fanciful distinctions have been sufficient to kindle their unfriendly
passions and excite their most violent conflicts. But the most common and
durable source of factions has been the various and unequal distribution
of property. Those who hold and those who are without property have ever
formed distinct interests in society. Those who are creditors, and those
who are debtors, fall under a like discrimination. A landed interest,
a manufacturing interest, a mercantile interest, a moneyed interest,
with many lesser interests, grow up of necessity in civilized nations,
and divide them into different classes, actuated by different sentiments
and views. The regulation of these various and interfering interests forms
the principal task of modern legislation, and involves the spirit of party
and faction in the necessary and ordinary operations of the government.
  </p>
  <p>
No man is allowed to be a judge in his own cause, because his interest
would certainly bias his judgment, and, not improbably, corrupt his
integrity. With equal, nay with greater reason, a body of men are
unfit to be both judges and parties at the same time; yet what are
many of the most important acts of legislation, but so many judicial
determinations, not indeed concerning the rights of single persons,
but concerning the rights of large bodies of citizens? And what are
the different classes of legislators but advocates and parties to
the causes which they determine? Is a law proposed concerning private
debts? It is a question to which the creditors are parties on one side
and the debtors on the other. Justice ought to hold the balance between
them. Yet the parties are, and must be, themselves the judges; and the
most numerous party, or, in other words, the most powerful faction must
be expected to prevail. Shall domestic manufactures be encouraged, and
in what degree, by restrictions on foreign manufactures? are questions
which would be differently decided by the landed and the manufacturing
classes, and probably by neither with a sole regard to justice and the
public good. The apportionment of taxes on the various descriptions of
property is an act which seems to require the most exact impartiality;
yet there is, perhaps, no legislative act in which greater opportunity
and temptation are given to a predominant party to trample on the rules
of justice. Every shilling with which they overburden the inferior number,
is a shilling saved to their own pockets.
  </p>
  <p>
It is in vain to say that enlightened statesmen will be able to adjust
these clashing interests, and render them all subservient to the public
good. Enlightened statesmen will not always be at the helm. Nor, in many
cases, can such an adjustment be made at all without taking into view
indirect and remote considerations, which will rarely prevail over the
immediate interest which one party may find in disregarding the rights
of another or the good of the whole.
  </p>
  <p>
    <label for="mn-brutus" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-brutus" class="margin-toggle"/>
    <span class="marginnote">
      It is natural to a republic to have only a small territory,
      otherwise it cannot long subsist. In a large republic there are
      men of large fortunes, and consequently of less moderation;
      there are trusts too great to be placed in any single subject;
      he has interest of his own; he soon begins to think that
      he may be happy, great and glorious, by oppressing his fellow citizens;
      and that he may raise himself to grandeur
      on the ruins of his country. In a large republic,
      the public good is sacrificed to a thousand views; it is subordinate
      to exceptions, and depends on accidents. In a small one, the interest
      of the public is easier perceived, better
      understood, and more within the reach of every citizen; abuses are of
      less extent, and of course are less protected.
      &mdash;<cite>Brutus (Robert Yates)</cite>
    </span>
    The inference to which we are brought is, that the CAUSES of faction
    cannot be removed, and that relief is only to be sought in the means of
    controlling its EFFECTS.
  </p>
  <p>
If a faction consists of less than a majority, relief is supplied by
the republican principle, which enables the majority to defeat its
sinister views by regular vote. It may clog the administration, it
may convulse the society; but it will be unable to execute and mask
its violence under the forms of the Constitution. When a majority is
included in a faction, the form of popular government, on the other
hand, enables it to sacrifice to its ruling passion or interest both
the public good and the rights of other citizens. To secure the public
good and private rights against the danger of such a faction, and at the
same time to preserve the spirit and the form of popular government,
is then the great object to which our inquiries are directed. Let me
add that it is the great desideratum by which this form of government
can be rescued from the opprobrium under which it has so long labored,
and be recommended to the esteem and adoption of mankind.
  </p>
  <p>
By what means is this object attainable? Evidently by one of two
only. Either the existence of the same passion or interest in a
majority at the same time must be prevented, or the majority, having
such coexistent passion or interest, must be rendered, by their number
and local situation, unable to concert and carry into effect schemes of
oppression. If the impulse and the opportunity be suffered to coincide,
we well know that neither moral nor religious motives can be relied on
as an adequate control. They are not found to be such on the injustice
and violence of individuals, and lose their efficacy in proportion to
the number combined together, that is, in proportion as their efficacy
becomes needful.
  </p>
  <p>
From this view of the subject it may be concluded that a pure democracy,
by which I mean a society consisting of a small number of citizens,
who assemble and administer the government in person, can admit of
no cure for the mischiefs of faction. A common passion or interest
will, in almost every case, be felt by a majority of the whole; a
communication and concert result from the form of government itself;
and there is nothing to check the inducements to sacrifice the weaker
party or an obnoxious individual. Hence it is that such democracies have
ever been spectacles of turbulence and contention; have ever been found
incompatible with personal security or the rights of property; and have
in general been as short in their lives as they have been violent in
their deaths. Theoretic politicians, who have patronized this species
of government, have erroneously supposed that by reducing mankind to
a perfect equality in their political rights, they would, at the same
time, be perfectly equalized and assimilated in their possessions,
their opinions, and their passions.
  </p>
  <p>
A republic, by which I mean a government in which the scheme of
representation takes place, opens a different prospect, and promises
the cure for which we are seeking. Let us examine the points in which
it varies from pure democracy, and we shall comprehend both the nature
of the cure and the efficacy which it must derive from the Union.
  </p>
  <p>
The two great points of difference between a democracy and a republic are:
first, the delegation of the government, in the latter, to a small number
of citizens elected by the rest; secondly, the greater number of citizens,
and greater sphere of country, over which the latter may be extended.
  </p>
  <p>
The effect of the first difference is, on the one hand, to refine and
enlarge the public views, by passing them through the medium of a chosen
body of citizens, whose wisdom may best discern the true interest of
their country, and whose patriotism and love of justice will be least
likely to sacrifice it to temporary or partial considerations. Under
such a regulation, it may well happen that the public voice, pronounced
by the representatives of the people, will be more consonant to the
public good than if pronounced by the people themselves, convened for the
purpose. On the other hand, the effect may be inverted. Men of factious
tempers, of local prejudices, or of sinister designs, may, by intrigue,
by corruption, or by other means, first obtain the suffrages, and then
betray the interests, of the people. The question resulting is, whether
small or extensive republics are more favorable to the election of proper
guardians of the public weal; and it is clearly decided in favor of the
latter by two obvious considerations:
  </p>
  <p>
In the first place, it is to be remarked that, however small the republic
may be, the representatives must be raised to a certain number, in order
to guard against the cabals of a few; and that, however large it may
be, they must be limited to a certain number, in order to guard against
the confusion of a multitude. Hence, the number of representatives in
the two cases not being in proportion to that of the two constituents,
and being proportionally greater in the small republic, it follows that,
if the proportion of fit characters be not less in the large than in the
small republic, the former will present a greater option, and consequently
a greater probability of a fit choice.
  </p>
  <p>
In the next place, as each representative will be chosen by a greater
number of citizens in the large than in the small republic, it will
be more difficult for unworthy candidates to practice with success the
vicious arts by which elections are too often carried; and the suffrages
of the people being more free, will be more likely to centre in men who
possess the most attractive merit and the most diffusive and established
characters.
  </p>
  <p>
It must be confessed that in this, as in most other cases, there is
a mean, on both sides of which inconveniences will be found to lie. By
enlarging too much the number of electors, you render the representatives
too little acquainted with all their local circumstances and lesser
interests; as by reducing it too much, you render him unduly attached to
these, and too little fit to comprehend and pursue great and national
objects. The federal Constitution forms a happy combination in this
respect; the great and aggregate interests being referred to the national,
the local and particular to the State legislatures.
  </p>
  <p>
The other point of difference is, the greater number of citizens and
extent of territory which may be brought within the compass of republican
than of democratic government; and it is this circumstance principally
which renders factious combinations less to be dreaded in the former
than in the latter. The smaller the society, the fewer probably will
be the distinct parties and interests composing it; the fewer the
distinct parties and interests, the more frequently will a majority
be found of the same party; and the smaller the number of individuals
composing a majority, and the smaller the compass within which they
are placed, the more easily will they concert and execute their plans
of oppression. Extend the sphere, and you take in a greater variety of
parties and interests; you make it less probable that a majority of the
whole will have a common motive to invade the rights of other citizens;
or if such a common motive exists, it will be more difficult for all who
feel it to discover their own strength, and to act in unison with each
other. Besides other impediments, it may be remarked that, where there
is a consciousness of unjust or dishonorable purposes, communication is
always checked by distrust in proportion to the number whose concurrence
is necessary.
  </p>
  <p>
Hence, it clearly appears, that the same advantage which a republic has
over a democracy, in controlling the effects of faction, is enjoyed
by a large over a small republic,–is enjoyed by the Union over the
States composing it. Does the advantage consist in the substitution of
representatives whose enlightened views and virtuous sentiments render
them superior to local prejudices and schemes of injustice? It will
not be denied that the representation of the Union will be most likely
to possess these requisite endowments. Does it consist in the greater
security afforded by a greater variety of parties, against the event
of any one party being able to outnumber and oppress the rest? In an
equal degree does the increased variety of parties comprised within the
Union, increase this security. Does it, in fine, consist in the greater
obstacles opposed to the concert and accomplishment of the secret wishes
of an unjust and interested majority? Here, again, the extent of the
Union gives it the most palpable advantage.
  </p>
  <p>
The influence of factious leaders may kindle a flame within their
particular States, but will be unable to spread a general conflagration
through the other States. A religious sect may degenerate into a political
faction in a part of the Confederacy; but the variety of sects dispersed
over the entire face of it must secure the national councils against
any danger from that source. A rage for paper money, for an abolition
of debts, for an equal division of property, or for any other improper
or wicked project, will be less apt to pervade the whole body of the
Union than a particular member of it; in the same proportion as such a
malady is more likely to taint a particular county or district, than an
entire State.
  </p>
  <p>
In the extent and proper structure of the Union, therefore, we behold
a republican remedy for the diseases most incident to republican
government. And according to the degree of pleasure and pride we feel
in being republicans, ought to be our zeal in cherishing the spirit and
supporting the character of Federalists.
  </p>
  <p>
    <i>PUBLIUS.</i>
  </p>
</section>
</article>
{% endblock %}
