{% extends "base.html" %}
{% block title %}Quanta Prototype API Test{% endblock %}
{% block scripting %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Book - Designing Secure Software</title>
<meta name="description" content="Designing Secure Software consolidates more than twenty years of experience into a concise, elegant guide to improving the security of technology products.">
<meta name="author" content="Loren Kohnfelder"/>
<meta property="og:title" content="Book" />
<meta property="og:description" content="Designing Secure Software consolidates more than twenty years of experience into a concise, elegant guide to improving the security of technology products.">
<meta property="og:image" content="https://designingsecuresoftware.com/img/DSS-cover.png" />
<meta property="og:url" content="https://designingsecuresoftware.com/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Designing Secure Software" />
<meta name="twitter:title" content="Book" />
<meta name="twitter:description" content="Designing Secure Software consolidates more than twenty years of experience into a concise, elegant guide to improving the security of technology products.">
<meta name="twitter:image" content="https://designingsecuresoftware.com/img/DSS-cover.png" />
<meta name="twitter:card" content="summary" />
<link href='https://designingsecuresoftware.com/favicon.png' rel='icon' type='image/x-icon'/>
<meta name="generator" content="Hugo 0.118.2">
<link rel="alternate" href="https://designingsecuresoftware.com/index.xml" type="application/rss+xml" title="Designing Secure Software"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link rel="stylesheet" href="https://designingsecuresoftware.com/css/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" /><link rel="stylesheet" href="https://designingsecuresoftware.com/css/syntax.css" /><link rel="stylesheet" href="https://designingsecuresoftware.com/css/codeblock.css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css" integrity="sha384-h/L2W9KefUClHWaty3SLE5F/qvc4djlyR4qY3NUV5HGQBBW7stbcfff1+I/vmsHh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css" integrity="sha384-iD0dNku6PYSIQLyfTOpB06F2KCZJAKLOThS5HRe8b3ibhdEQ6eKsFf/EeFxdOt5R" crossorigin="anonymous">

<script>
  var errors = [];
  debug_str = "";

  function output(str) {
      console.log(str);
      var textbox = document.getElementById("internals");
      if (debug_str)
          debug_str += ' | ';
      debug_str += str;
      textbox.innerText = debug_str;
  }
  
  function haash(s) {
      for (var i=0, h=9; i<s.length; )
	  h=Math.imul(h^s.charCodeAt(i++),9**9);
      return (h^h>>>9).toString(16).substr(-4);
    }

  function add_ids(root) {
      elts = root.querySelectorAll("p, h1, h2, h3, h4, h5, h6, h7, h8, h9");
      for (i = 0; i < elts.length; i++) {
	  elt = elts[i];
	  if (!elt.id) {  // Assign paragraph number unless already used
	      n = i+1;
	      seqid = String(1000000000 + n).substr(-3);
	      text = elt.innerText;
	      if (text) {
		  qid = '_q:' + haash(text);
	      } else {
		  qid = '_q:' + seqid;
	      }
	      if (!document.getElementById(qid))
		  elt.id = qid;
	      else
		  errors.push("Duplicate id: "+qid);
	  }
      }
  }
  
  function collect_ids(root) {
      points = [];
      elts = root.querySelectorAll("p, h1, h2, h3, h4, h5, h6, h7, h8, h9");
      for (i = 0; i < elts.length; i++) {
	  elt = elts[i];
	  if (elt.id) {
	      text = elt.innerText.trim();
	      if (text.length < 8)
		  text = "<"+elt.tagName+">:"+text;
	      else if (text.length > 18)
		  text = text.substr(0, 16) + "...";
	      points.push({'id': elt.id, 'text': text,
			   'y': elt.offsetTop});
	  } else
	      errors.push("Noid: "+elt.tagName);
      }
      return points;
  }

  function point_selector(sel, points) {
      // The first option of {sel} <select> is for the whole page. Remove rest.
      opts = sel.children;
      for (var i = opts.length; i > 1; i--)
	  sel.removeChild(opts[i-1]);
      // From {points} insert <option value="id">Text excerpt...</option> elts.
      for (var i = 0; i < points.length; i++) {
	  pt = points[i];
	  id = pt['id'];
	  if (id.length == 0)
	      continue;
	  text = pt['text'];
	  var opt = document.createElement("option");
	  opt.setAttribute("value", id);
	  opt.innerText = text;
	  sel.appendChild(opt);
      }
      sel.childern[0].selected = true;  // Preselect whole page
      return sel;
  }

  function loaded() {
      output("TEST");
      add_ids(document.body);
      points = collect_ids(document.body);
      sel = document.getElementById('anno-point');
      point_selector(sel, points);
      output(JSON.stringify([points, errors]));
  }
</script>
{% endblock %}

{% block content %}
<h1>Padding at top</h1>
<h1>More Padding at top</h1>
<h1>Debugging</h1>
<div>
<textarea id="internals" rows="12" cols="80"></textarea>
</div>
<hr/>
<select id="anno-point">
  <option value="">(whole page)</option>
</select>
<h1>Page proper</h1>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://designingsecuresoftware.com/">Designing Secure Software</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        
          
            <li>
              <a title="Buy the book" href="https://nostarch.com/designing-secure-software">Buy the book</a>
            </li>
          
        
          
            <li class="navlinks-container">
              <a class="navlinks-parent">See the book</a>
              <div class="navlinks-children">
                
                  <a href="https://designingsecuresoftware.com/page/contents">Table of Contents</a>
                
                  <a href="https://designingsecuresoftware.com/page/references">References</a>
                
                  <a href="https://designingsecuresoftware.com/page/text/">Excerpts</a>
                
                  <a href="https://nostarch.com/download/samples/Designing_Secure_Software_index.pdf">Index</a>
                
              </div>
            </li>
          
        
          
            <li>
              <a title="Errata" href="https://designingsecuresoftware.com/page/errata">Errata</a>
            </li>
          
        
          
            <li>
              <a title="Media" href="https://designingsecuresoftware.com/page/media">Media</a>
            </li>
          
        
          
            <li>
              <a title="FAQ" href="https://designingsecuresoftware.com/page/faq">FAQ</a>
            </li>
          
        
          
            <li>
              <a title="About" href="https://designingsecuresoftware.com/page/about/">About</a>
            </li>
          
        

        

        
      </ul>
    </div>

    

  </div>
</nav>




    


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

<div class="pswp__bg"></div>

<div class="pswp__scroll-wrap">
    
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
      
      
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
</div>


  
  
  






  

  <header class="header-section ">
    
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              
                <h1>Designing Secure Software</h1>
              
              
                <hr class="small">
              
              
                
                  <span class="page-subheading">A guide for developers</span>
                
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


    
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
          <div class="well">
            <p><img src="https://designingsecuresoftware.com/img/DSS-art.png" alt="Book cover art"></p>
<p><em>Designing Secure Software</em> consolidates more than twenty years of experience
into a concise, elegant guide to improving the security of technology products.
Written for a wide range of software professionals, it emphasizes building
security into software design early and involving the entire team
in the process.</p>
<p>The book begins with a discussion of core concepts, covering trust, threats,
mitigation, secure design patterns, and cryptography. The second part,
perhaps this book’s most unique and important contribution to the field,
covers the process of designing and reviewing a software design with security
considerations in mind. The final section details the most common coding flaws
that create vulnerabilities, making copious use of code snippets written in
C and Python to illustrate implementation vulnerabilities.</p>
<p>You’ll learn how to:</p>
<ul>
<li>Identify important assets, the attack surface, and the trust boundaries
in a system</li>
<li>Evaluate the effectiveness of various threat mitigation candidates</li>
<li>Work with well-known mitigations and secure design patterns</li>
<li>Understand and prevent vulnerabilities like XSS and CSRF, memory flaws,
and more</li>
<li>Use security testing to proactively identify vulnerabilities introduced
into code</li>
<li>Review a software design for security flaws effectively and without judgment</li>
</ul>
<blockquote>
<p>“The writing in this book is very clear and easy reading,
and the examples used are both captivating and easy to understand.
Kohnfelder does a great job of making a point that is easy to understand,
and most of the chapters could stand alone for developers just working
in that one particular area.”
(<a href="https://systemoverlord.com/2021/11/24/book-review-designing-secure-software.html">read the full review</a>)</p>
</blockquote>
<hr>
<ul>
<li>
<p><a href="https://designingsecuresoftware.com/page/faq">Frequently Asked Questions</a></p>
</li>
<li>
<p>The author&rsquo;s <a href="https://designingsecuresoftware.com/blog">blog</a> with updates and
posts about writing and the publishing process,
or explore posts by <a href="https://designingsecuresoftware.com/tags">tags</a>.</p>
</li>
</ul>

          </div>
        

        <div class="posts-list">
          
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/japan-translation/">
        <h2 class="post-title">Japanese translation is on sale</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on August 15, 2023
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        8月18日、新刊『セキュアなソフトウェアの設計と開発』を発刊
The Japanese translation of my book goes on sale this week. This is particularly rewarding for me because I lived and worked there for about ten years and speak the language well enough to read the text (but nowhere near ability write at a publishable level of quality).
        <a href="https://designingsecuresoftware.com/blog/japan-translation/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/publishing/">publishing</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/reblocking-problem/">
        <h2 class="post-title">On the Signature Reblocking Problem in Public Key Cryptosystems</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on May 30, 2023
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        In Chapter 5 of the book I write about my good fortunate meeting two of the RSA algorithm inventors at MIT, and collaborating with them.
        <a href="https://designingsecuresoftware.com/blog/reblocking-problem/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/security/">security</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/bard-opinion/">
        <h2 class="post-title">Bard likes my book</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on May 16, 2023
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        I was surprised that Bard has read my book, or at least claims to have. Here&rsquo;s our conversation about it, word for word: it&rsquo;s a good overview.
        <a href="https://designingsecuresoftware.com/blog/bard-opinion/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/promo/">promo</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/polish-translation/">
        <h2 class="post-title">Polish translation is on sale</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on May 5, 2023
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        Wspaniale jest widzieć, że ukazało się polskie tłumaczenie mojej książki o bezpieczeństwie oprogramowania. (It&rsquo;s great to see that the Polish translation of my book on software security is out.
        <a href="https://designingsecuresoftware.com/blog/polish-translation/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/publishing/">publishing</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/book-epigrams/">
        <h2 class="post-title">Epigrams in the book</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on January 2, 2022
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        I like clever sayings and wise proverbs, the shorter the better, so I wanted to work a number of them into the book.
        <a href="https://designingsecuresoftware.com/blog/book-epigrams/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/publishing/">publishing</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/2021-12-20-general-on-sale/">
        <h2 class="post-title">Book on sale tomorrow</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on December 21, 2021
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        Finally my software security book is available for general sale tomorrow (December 21, 2021). Recent events such as the Log4j vulnerability demonstrate that our work is far from over (and the latest Microsoft security update lists 35 CVE).
        <a href="https://designingsecuresoftware.com/blog/2021-12-20-general-on-sale/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/publishing/">publishing</a>&nbsp;
        
    </div>
    

</article>
          
            <article class="post-preview">
    <a href="https://designingsecuresoftware.com/blog/2021-12-14-log4j/">
        <h2 class="post-title">Learning from Log4j</h2>
        
        
        
    </a>

    <p class="post-meta">
        <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on December 14, 2021
  
  
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Loren Kohnfelder
    
  
  
</span>


    </p>
    <div class="post-entry">
        
        With Log4j very much in the news, if I could update my new book by magic it would make a terrific real world example to write about because it ties together a number of topics in the book.
        <a href="https://designingsecuresoftware.com/blog/2021-12-14-log4j/" class="post-read-more">[Read More]</a>
        
    </div>

    
    <div class="blog-tags">
        
        <a href="https://designingsecuresoftware.com//tags/security/">security</a>&nbsp;
        
    </div>
    

</article>
          
        </div>

        
          <ul class="pager main-pager">
            
            
              <li class="next">
                <a href="https://designingsecuresoftware.com/page/2/">Older Posts &rarr;</a>
              </li>
            
          </ul>
        
      </div>
    </div>
  </div>

      
    <div class="page-meta">
  
  
  
</div>


  
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          
              <li>
                <a href="https://linkedin.com/in/kohnfelder" title="LinkedIn">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          
          <li>
            <a href="https://designingsecuresoftware.com/index.xml" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          
        </ul>
        <p class="credits copyright text-muted">
          
            
              Loren Kohnfelder
            
          

          &nbsp;&bull;&nbsp;&copy;
          
            2023
          

          
            &nbsp;&bull;&nbsp;
            <a href="https://designingsecuresoftware.com/">Designing Secure Software</a>
          
        </p>
        
        <p class="credits theme-by text-muted">
          <a href="https://gohugo.io">Hugo v0.118.2</a> powered &nbsp;&bull;&nbsp; Theme <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a> adapted from <a href="https://deanattali.com/beautiful-jekyll/">Beautiful Jekyll</a>
          
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
