{% extends "base.html" %}
{% block title %}Quanta Prototype API Test{% endblock %}
{% block scripting %}
<script>
  function newQuanta() {
      pf = document.getElementById('postForm');
      req = {"author": "(anonymous)", "url": "example.com",
	     "note": "---", "type": "annotation"};
      fields = pf.children;
      for (i = 0; i < fields.length; i++) {
	  field = fields[i].name
	  if (field in req) {
	      entry = fields[i].value;
	      if (entry)
		  req[field] = entry;
	  }
      }
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{{ url_for('find_quanta') }}");
      xhr.setRequestHeader("Content-Type", "application/json");
      var data = JSON.stringify(req);
      xhr.send(data);
      xhr.onload = function() {
	  if (xhr.status === 200) {
	      var response = JSON.parse(xhr.responseText);
	  } else {
	      alert("Error: " + xhr.status + "<==" + data);
	  }
      };
      return false;
  }

  function queryQuanta() {
      var textbox = document.getElementById("internals");
      pf = document.getElementById('queryForm');
      req = {"url": window.location.href};
      fields = pf.children;
      for (i = 0; i < fields.length; i++) {
	  field = fields[i].name
	  if (field in req) {
	      entry = fields[i].value;
	      if (entry)
		  req[field] = entry;
	  }
      }
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{{ url_for('find_quanta') }}");
      xhr.setRequestHeader("Content-Type", "application/json");
      var data = JSON.stringify(req);
      console.log(data);
      xhr.send(data);
      xhr.onload = function() {
	  if (xhr.status === 200) {
	      console.log(xhr.responseText);
	      var response = JSON.parse(xhr.responseText);
	      textbox.innerText = JSON.stringify(response);
	  } else {
	      alert("Error: " + xhr.status + "<==" + data);
	  }
      };
      return false;
  }

  function getHosts() {
      var textbox = document.getElementById("internals");
      textbox.innerText = "TESTING";
      qf = document.getElementById('queryForm');
      fields = qf.children;
      for (i = 0; i < fields.length; i++) {
	  field = fields[i]
	  if (field.name == url) {
	      entry = field.value;
	      if (entry)
		  url = entry;
	  }
      }
      const xhr = new XMLHttpRequest();
      xhr.open("GET", "{{ url_for('get_quanta_hosts') }}");
      xhr.onload = function() {
	  if (xhr.status === 200) {
	      const response = JSON.parse(xhr.responseText);
	      textbox.innerText = JSON.stringify(response);
	  } else {
	      throw new Error("Error: " + xhr.status);
	  }
      };
      xhr.onerror = function() {
	  throw new Error("Network error");
      };
      xhr.send();
      return false;
  }

  function loaded() {
      url = window.location.href;
      elt = document.getElementById("postFormUrl");
      elt.value = url;
  }
</script>
{% endblock %}
{% block content %}
<h1>HTML Form with POST and GET</h1>
<form id="postForm" onsubmit="return newQuanta();">
  <input type="text" name="author" placeholder="Your name">
  <input id="postFormUrl" type="text" name="url">
  <input type="text" name="note" placeholder="Your note">
  <input type="text" name="type" placeholder="Type of quantum">
  <input type="submit" value="Submit (POST)">
</form>
<br/>
<form id="queryForm" onsubmit="return queryQuanta();">
  <input type="text" name="url" placeholder="Enter a URL">
  <input type="submit" value="Submit (POST)">
</form>
<br/>
<button onclick="getHosts()">Hosts?</button>

<h1>Debugging</h1>
<textarea id="internals" rows="8" cols="80"></textarea>
{% endblock %}
